$bodymargin: 0;
$bodypadding: 0;
$flex: flex;
$grid: grid;
$width10: 10%;
$width20: 20%;
$width30: 30%;
$width40: 40%;
$width50: 50%;
$width60: 60%;
$width70: 70%;
$width80: 80%;
$width90: 90%;
$width100: 100%;



* {
	margin: $bodymargin;
	padding: $bodypadding;
}
